td {
	vertical-align: top;
}

th {
	background-color: #EEECE1;
	white-space: nowrap;
	text-align: left;
	font-weight: bold;
}

td.project-title {
	background-color: #F1FBEA; /* #FBF0FA; */
	text-align: left;
	font-weight: bold;
	font-size: 110% !important;
}

.resizable-content {
  min-height: 30px;
  min-width: 30px;
  resize: both;
  overflow: auto;
  max-height: fit-content;
  max-width: fit-content;
}


/* Based on .site-header, but taller, where $header-height is replaced with 100px. */
.site-header-logo {
  display: flex;
  min-height: 100px;
  align-items: center;

  @include mq(md) {
    height: 100px;
    max-height: 100px;
    border-bottom: $border $border-color;
  }
}
